
        



                <mat-form-field style="width:30%;  margin-left:180px; margin-right:100px;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                  
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:80%; margin-left:180px; margin-right:100px; ">
                  
                    
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Order </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="creationDateTime">
                      <th mat-header-cell *matHeaderCellDef> Created </th>
                      <td mat-cell *matCellDef="let element"> {{element.creationDateTime}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="annotation">
                      <th mat-header-cell *matHeaderCellDef> Comment </th>
                      <td mat-cell *matCellDef="let element"> {{element.annotation}} </td>
                    </ng-container>
                  
                    
              
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <mat-paginator [pageSizeOptions]="[5, 10, 12]" showFirstLastButtons></mat-paginator>
                  </table>
                  
            

