<mat-card>
  <div class="drop-actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-content></ng-content>
    </mat-menu>
  </div>
  <div fxLayout="row" class="elem-title">
    <mat-icon>assignment</mat-icon>
    <div>#{{order.id}}</div>
  </div>
  <div class="elem-content">
    <div fxLayout="row">
      <div fxFlex>
        <div fxLayout="column" fxLayoutAlign="center center">

          <div *ngIf="order.orderStatus !== 3" fxLayout="column" fxLayoutAlign="center center">
            <div class="ready-to-proccessing">
              <mat-icon>done</mat-icon>
            </div>
            <div>Ready to processing!</div>
          </div>

          <div *ngIf="order.orderStatus === 3" fxLayout="column" fxLayoutAlign="center center">
            <div class="ready-to-proccessing">
              <mat-icon>schedule</mat-icon>
            </div>
            <div>Waiting for 2 products</div>
          </div>

        </div>
      </div>
      <div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <div class="datetimes">
              <div fxLayout="row">
                <div>{{order.creationDateTime | date:'dd MMM, HH:mm'}}</div>
              </div>
              <div fxLayout="row">
                <div>{{order.modifiedDateTime | date:'dd MMM, HH:mm'}}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="creator-info">
    <mat-expansion-panel fxFlex [hideToggle]="'true'">
        <mat-expansion-panel-header [collapsedHeight]="'24px'" [expandedHeight]="'24px'">
          <mat-panel-title fxFlex fxLayoutAlign="center center">
            {{user.email}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="creater-info-details">{{order.annotation}}</div>
      
      </mat-expansion-panel>
  </div>
</mat-card>