<mat-card>
  <div class="drop-actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
  <div fxLayout="row" class="elem-title">
    <mat-icon>assignment</mat-icon>
    <div>#77</div>
  </div>
  <div class="elem-content">
    <div fxLayout="row">
      <div fxFlex>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="ready-to-proccessing">
            <mat-icon>done</mat-icon>
          </div>
          <div>Ready to processing!</div>
        </div>
      </div>
      <div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <div class="datetimes">
              <div fxLayout="row">
                <div> 05 Nov, 19:03</div>
              </div>
              <div fxLayout="row">
                <div> 17 Nov, 09:03</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="creator-info">
    <!-- <div>675kostya@gmail.com</div> -->
    <mat-expansion-panel fxFlex [hideToggle]="'true'">
        <mat-expansion-panel-header [collapsedHeight]="'24px'" [expandedHeight]="'24px'">
          <mat-panel-title fxFlex fxLayoutAlign="center center">
            675kostya@gmail.com
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="creater-info-details">This is the primary comment of the user.</div>
      
      </mat-expansion-panel>
  </div>
</mat-card>