<div class="card-container"
  fxLayout="row"
  fxLayoutAlign="center center">

  <mat-card class="pr-card" fxFlex="400px">

    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="start start">
        <img mat-card-avatar src="assets/images/pr-card-stub-1-sm.png"
          fxFlex="40px"
          fxFlexOffset="4px">
        <mat-card-title
          fxFill 
          fxFlexAlign="center"
          fxFlexOffset="10px">
          Saw miter Metabo KS 216M
        </mat-card-title>
      </div>
      <div>
        <mat-card-subtitle fxFlexOffset="54px" [style.marginTop.px]="2">
          <div>Saws and Tile Cutters
              <i class="material-icons">
                  extension
                  </i>
          </div>
        </mat-card-subtitle>
      </div>
    </mat-card-title>

    <!--<mat-card-subtitle>More about the product</mat-card-subtitle>-->
    <mat-card-content
      fxLayout="row">
      <div fxFlex>
        <mat-card-actions
          fxLayout="column"
          fxLayoutAlign="start center">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </div>
      <img
        fxFlex="225px"
        src="assets/images/pr-card-stub-1-sm.png"/>
    </mat-card-content>
    <!---<img mat-card-image src="assets/images/pr-card-stub-1-sm.png"/>-->
    <mat-card-content fxFlexAlign="center center">
      <p>
        Compact light weight, suitable also for one-handed transport.
      </p>
    </mat-card-content>
  </mat-card>

</div>