@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.content{
  margin-top: 40px;
}

h1 {
  text-align: center;
  color: #81cbf0;
}

.full {
  height: 100vh;
}
.example-header-image {
  background-image: url('https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png');
  background-size: cover;
}
.order{
  margin-top:1%;
  max-width: 1540px;
  min-width:365px;
  margin-left:200px;
  margin-right:auto;  
}

.example-header-image2 {
  padding:10%;
  background-size: cover;
}
.orders{
  width:80%;
  margin-left:180px;
  margin-right:100px;
}
.fix{
  padding:2%;
}
.grow { transition: all transform .2s ease-in-out; }
.grow:hover { transform: scale(1.5);z-index:1000; }
.card-deck-container {
  width: 100%;
  max-width: 1600px;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.card-item {
  padding: 3px 3px 3px 3px;
}

html, body {height:100%;margin: 0;
  font-family: Roboto, sans-serif; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{
  background-color: #81cbf0;
  color: #ffffff;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
  outline: none;
}

.delete {
  color: red;
}/* You can add global styles to this file, and also import other style files */

