<body ng-app="Commande" ng-controller="commandeController">
<h1>Order</h1>
<div class="content">



  <div class="col-md-12">
    <table class="table table-striped table-hover table-responsive">
      <tr class="form-group" style="display:none;">
        <label for="ordStatus">Status*</label>
        <select formControlName="ordStatus" id="ordStatus" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
          <option value="Phones">Processing</option>
          <option value="Laptops">Waiting</option>
          <option value="Printers">Ready</option>
        </select>
        <!--<input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />-->
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </tr>
      <thead>

      <tr>

        <th class="form-group" style="display:none;">
          <label for="ordType">Type*</label>
          <select formControlName="ordType" id="ordType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
            <option value="Phones">Order</option>
            <option value="Laptops">Return</option>
          </select>
          <!--<input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />-->
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </th>
        <th style="display:none;">
          <label for="parentId">Parent ID</label>
          <input type="number" id="parentId" name="ordId"
                 value="1"
                 min="1"/>
        </th>
      </tr>
      <tr>
        <th style="display:none;">
          <label for="createdDate">Created</label>
          <input type="date" id="createdDate" name="crDate"
                 value="2018-07-22"
                 min="2018-01-01" max="2018-12-31" />
        </th>
        <th style="display:none;">
          <label for="modifiedDate">Modified</label>
          <input type="date" id="modifiedDate" name="modDate"
                 value="2018-07-22"
                 min="2018-01-01" max="2018-12-31" />
        </th>
      </tr>
      <tr>
        <th style="display:none;">
          <label for="crBy">Created By</label>
          <select formControlName="crBy" id="crBy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
            <option value="Phones">User 01</option>
            <option value="Laptops">User 02</option>
            <option value="Printers">User 03</option>
            <option value="Keyboards">User 04</option>
          </select>
        </th>
        <th style="display:none;">
          <label for="assTo">Assigned to</label>
          <select formControlName="assTo" id="assTo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
            <option value="Phones">Storekeeper 01</option>
            <option value="Laptops">Storekeeper 02</option>
          </select>
        </th>
      </tr>
      </thead>
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" formControlName="lastName" id="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div>

        <div>
          <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
        </div>
        <div style="display:none;">
          <label for="isArchived">isArchived</label>
          <input type="checkbox" id="isArchived" name="isArch"/>
        </div>

      </div>

    </table>
    </div>
  <div class="col-md-12">
    <table class="table table-striped table-hover table-responsive" id="orderLine">
      <thead>
      <tr>
        <th>№</th>
        <th>Category</th>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-app="products" ng-controller="test">
        <th>
          <input type="number" ng-model="product.id" class="form-control bfh-number" placeholder="1" min="1">
        </th>
        <th>

          <select id="categories">
            <!--<option *ngFor="let eachCat of categories">
              {{eachCat}}
            </option>-->
          </select>
        </th>
        <th>
          <select id="products">
            <!--<option *ngFor="let eachProd of products">
              {{eachProd}}
            </option>-->
          </select>
        </th>

        <td>
          <input type="number" id="qnt" ng-model="product.qnt" class="form-control bfh-number" placeholder="1" min="1">
        </td>
        <button ng-click="clickToClone('mainDiv', 'cloneDiv')">➕</button>
        <button ng-click="clickToDelete('mainDiv', 'cloneDiv')">❌</button>
      </tr>
      <tr id="cloneDiv">
      </tr>
      </tbody>

      <!--<div *ngIf="clickToClone">
        <div>
          orderLine
        </div>
      </div>-->

    </table>

    <!--<div *ngIf="clickToClone">-->
      <!--<div>-->
        <!--orderLine-->
      <!--</div>-->

    <!--</div>-->



    <a href ng:click="AjouterArticle()" class="btn btn-primary">Send<i class="fa fa-plus"></i></a>
  </div>

</div>
</body>
