.prs-container {
    max-width: 720px;
}

app-product-card {
    margin: 20px 10px;
}

.go-to-order {
    font-size: 15px;
    font-family: Arial;
    color: aliceblue;
}
.example-full-width {
    width: 100%;
  }